@import "tailwindcss";

@theme {
  --color-sf-bg: #000000;
  --color-sf-bg-2: #1C1C1E;
  --color-sf-blue: #0A84FF;
  --color-sf-text: #FFFFFF;
  --color-sf-text-2: #EBEBF5;
  --color-sf-gray: #8E8E93;
  --color-sf-green: #30D158;
  --color-sf-red: #FF453A;
}
